@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --black: rgb(0,0,0);
    --white: rgb(255,255,255);
    --system: rgb(23,138,213);
    --system-opacity: rgba(23,138,213,0.5);
    --system-hover:rgba(23,138,213,0.9);
    --red: rgb(255,0,0);
    --screen: rgb(20,20,20);
    --blackgray: rgb(50,50,50);
    --gray: rgb(128,128,128);
    --lightgreen: rgb(18, 234, 14);
}

#script {
    width: 1200px;
    height: 700px;
    background-color: bisque;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    z-index: 999;
    padding: 20px;
    border: 18px solid var(--black);
    background-image: url(images/background.jpg);
    background-size: 105%;
    flex-direction: column;
}

#samsung {
    width: 150px;
    height: 30px;
    background-color: var(--black);
    position: absolute;
    bottom: 0;
    transform: translateY(43px);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 25px 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 1.3px;
    font-size: 13px;
    user-select: none;
}

#iframe-one {
    width: 100%;
    height: 94%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: none;
    display: none;
    outline: none;
    animation: 0.5s open forwards;
}

#iframe-one.clicked {
    display: flex;
}

#iframe-one.mini {
    height: 0%;
}

#iframe-one.maxi {
    height: 94%;
}

#iframe-one.restore {
    width: 80%;
    height: 80%;
}

@keyframes open {
    0% {
        border-radius: 50%;
        width: 100%;
        height: 50px;
    }
}

#toolbar {
    width: 100%;
    height: 35px;
    background-color: var(--white);
    position: absolute;
    bottom: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toolbar img {
    user-select: none;
}

#function-bar {
    width: 100%;
    height: 22px;
    background-color: var(--gray);
    position: absolute;
    top: 0;
    z-index: 99;
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    animation: 0.5s open1 forwards;
    overflow: auto;
}

#function-bar.mini {
    height: 0%;
}

#function-bar.maxi {
    height: 22px;
}

#function-bar.restore {
    width: 80%;
    transform: translateY(45px);
}

@keyframes open1 {
    0% {
        border-radius: 50%;
        width: 20%;
        height: 35px;
    }
}

#function-bar.clicked, iframe.clicked {
    display: flex;
}

#function-bar.unclicked, iframe.unclicked {
    display: none;
}

#function-bar, #samsung, #toolbar {
    margin: auto;
    left: 0;
    right: 0;
}

.close-card, .minimalise-card, .restore-card {
    width: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

#chrome, #bin {
    width: 55px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    font-size: 12px;
    color: var(--white);
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#chrome img, #bin img {
    margin-bottom: 3px;
    z-index: -1;
}

#bin {
    position: absolute;
    right: 20px;
    top: 20px;
    user-select: none;
}

#dragge {
    width: 200px;
    height: 80px;
    border: 2px solid;
    position: absolute;
    left: 0;
    top: 100px;
}

.windows {
    left: 5px;
    width: 40px;
}

#windows-menu {
    width: 30%;
    height: 0px;
    background-color: var(--system-opacity);
    position: absolute;
    left: 0;
    bottom: 35px;
    transition: .4s;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    overflow: auto;
}

#windows-menu.clicked {
    height: 300px;
}

.off {
    width: 50px;
    height: 40px;
    background-image: url(images/switch-small.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.off:hover {
    background-color: var(--system-hover);
}

.search {
    left: 45px;
    width: 40px;
}

.search, .windows {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
}

#system-date {
    width: 100px;
    height: 100%;
    position: absolute;
    right: 0;
    user-select: none;
}

#clock, #date {
    width: 100%;
    height: 50%;
    font-size: 12.5px;
    color: var(--black);
    font-weight: bold;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
}

#date {
    color: var(--system);
}

#chrome-icon {
    width: 40px;
    height: 100%;
    background-image: url(images/chrome.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 28px 28px;
    cursor: pointer;
    display: none;
    background-color: var(--system);
}

#chrome-icon.clicked {
    display: block;
}

#chrome-icon.color {
    background-color: var(--white);
}

#searcher {
    width: 30%;
    height: 0;
    background-color: var(--system-opacity);
    position: absolute;
    left: 45px;
    bottom: 35px;
    overflow: auto;
    box-sizing: border-box;
    transition: .4s;
}

#searcher.clicked {
    height: 300px;
}

#search-bar {
    width: 100%;
    height: 50px;
    background: transparent;
    display: flex;
    align-items: center;
    color: var(--white);
    gap: 15px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.5px;
    padding: 0 20px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

#search-bar:hover {
    background-color: var(--system-hover);
}

#searcher hr {
    width: 70%;
    margin: 5px auto;
    background-color: var(--white)
}

#prescreen {
    width: 1170px;
    height: 670px;
    background-color: var(--screen);
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: .5s;
    overflow: auto;
}

#prescreen.start {
    background-color: var(--system);
    animation: 3s van forwards;
}

#prescreen::-webkit-scrollbar, #searcher::-webkit-scrollbar {
    width: 0%;
}

@keyframes van {
    70% {
        height: 670px;
    }

    100% {
        height: 0%;      
    }
}

#start {
    width: 120px;
    height: 120px;
    position: absolute;
    transform: translateX(-250px);
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: aqua;
    cursor: pointer;
    background-color: var(--black);
    display: flex;
    border: none;
    flex-direction: column;
    border-radius: 30px;
}

.start-background {
    width: 100%;
    height: 50%;
    background-image: url(images/switch.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 42px;
}

.start-switcher {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-fill {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

#switcher {
    width: 80px;
    height: 23px;
    border-radius: 20px;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 3px;
}

#dot {
    width: 19px;
    height: 19px;
    background-color: var(--red);
    border-radius: 50%;transition: .5s;
}

#dot.clicked {
    transform: translateX(55px);
    background-color: var(--lightgreen);
}

.loader {
    border: 14px solid var(--white);
    border-radius: 50%;
    border-top: 14px solid var(--gray);
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
} 

.loader.start {
    display: block;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }

    100% { 
        transform: rotate(360deg);
    }
  }

#monitorclick {
    width: 35px;
    height: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(28px);
    background-color: var(--red);
    cursor: pointer;
    border-radius: 0 0 5px 5px;
}

#monitorclick.click {
    background-color: var(--blackgray);
}

#screen {
    width: 1170px;
    height: 670px;
    background-color: var(--black);
    z-index: 1000;
    position: fixed;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#screen.click {
    display: none;
}